.bandeau {
    font-family: Cursive;
    font-size: 20px;
    background-color: #ffeeff;
    padding-right: 2%;
}
p {
    font-size: 18px;
}

.bandeau a:hover {
    text-decoration: underline; 
    text-decoration-color: #ffadb4;
    color: #ffadb4; 
}

.bandeau a{
    color: #ffadb4;
    text-decoration: none;
    padding-left: 1%;
}

#logo{
    width: 20%;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding: 2%;
    font-family: URW Chancery L, cursive;
}

#gauche{
    width: 1000px;
    height: 180px;
    background-color: #ffeeff;
    margin: 1%; 
    padding: 1%;   
}

#droit {
    width: 1000px;
    height: 180px;
    background-color: #ffeeff;
    margin: 1%;
    float: right;
}

#droit p {
    margin: 1.5%;
}

h3 {
    text-align: center;
    text-decoration: underline;
    padding: 2%;
    padding-top: 14%;
    font-family: URW Chancery L, cursive;
}

.container {
    display: flex;
    align-items: center;
    background-color: #ffeeff;
    width: 100%;
  }

  .text-container {
    flex: 1;
    padding: 20px;
    margin: -31px;
    font-family: Arial, sans-serif;
  }

  .rounded-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    flex-shrink: 0;
  }

#propos{
    background-color: #ffeeff;
}