@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,200&family=Lobster&family=Neuton:ital,wght@0,300;0,400;1,400&display=swap");

@media screen and (min-width: 400px) {
  body {
    width: 100%;
  }
  .nameCare {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #669b37;
    font-family: "Lobster", cursive;
    font-size: 20px;
  }
  .dureeCare {
    text-align: center;
    font-family: "Neuton", serif;
    font-size: 17px;
    margin: 1%;
  }
  .prixCare {
    text-align: center;
    font-family: "Neuton", serif;
    font-size: 17px;
    margin: 1%;
  }
  .image {
    text-align: center;
    margin: 1%;
  }
  .ma-classe-image {
    width: 150px;
    display: none;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .nameCare {
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) {
  .h1containerother {
    font-size: 60px;
  }
  .nameCare {
    font-size: 37px;
  }
  .prixCare {
    font-size: 25px;
  }
  .dureeCare {
    font-size: 25px;
  }
  .ma-classe-image {
    display: block;
  }
}
